
.progress{
    margin: 0;
    padding: 0;
    display: block;
    margin-inline: auto;
    color: #d74221 !important;
}
.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}
.loginPage .form{
    width: 100%;
    max-width: 416px;
}
.loginPage .form .inputBox .label{
    display: block;
    color: #0d0c22;
    font-weight: 600;
}
.loginPage .form .inputBox .input{
    box-sizing: border-box;
    border: 2px solid lightgrey;
    width: 100%;
    height: 50px;
    padding-inline: 10px;
    border-radius: 12px;
    margin-block:6px 20px;
    cursor: pointer;
    transition: all 300ms ease;
} 
.loginPage .form .inputBox .input:focus,
.loginPage .form .inputBox .input:hover{
    outline: none;
    border: 2px solid #0d0c22;
}
.loginPage .form .inputBox .passIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginPage .form .signIn{
    width: 100%;
    margin-top: 20px;
    padding: 0;
    height: 52px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    background-color: #151619;
    color: white;
}
.form .title{
    margin: 0;
    margin-bottom: 40px;
    color: #0d0c22;
    font-size: 26px;
}
.form .google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid lightgrey;
    height: 50px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 300ms ease;
}
.google:hover{
    border: 2px solid #0d0c22;
}
.line{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    line-height: 3px;
    text-align: center;
    margin-block: 30px;
}
.line .inlineText{
    color: grey;
    font-size: 14px;
    background-color: white;
    padding-inline: 10px;
}
.loginPage .form .signIn .progress{
    color: white !important;
    margin-right: 8px;
}
.registerLink{
    font-size: 14px;
    text-decoration: underline;
}
