.footer{
    margin-top: 40px;
}
.footer .line {
    border-bottom: 1px solid grey;
}

.footer .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 18px 2px;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer .tabs .blogy .text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.footer .tabs .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}
.footer .tabs .copyright .copyrightText {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #151619;
}